<p class="text-3xl">What is this?</p>
<hr class="my-2">

<section>
    <p>
        This is a simple food app that allows you to search for recipes based on the ingredients you have at home.
        It is a great way to find new recipes and try new things. You can also save your favorite recipes and create a shopping list, share recipes with friends, and more.
    </p>

    <p class="mt-4">
        The app is free to use and does not require an account. However, if you create an account, you can save your favorite recipes and access them from any device. And please dont forget to check out pricing plans <a  class="font-bold hover:underline" routerLink="/pricing">here</a>.
</section>