<h1 class="text-3xl">Recipe list</h1>
<h2 class="text-xl">Current Page: {{ currentPage() }}</h2>

<hr class="my-2">
@if (recipesList().meals.length > 0) {
  <div class="flex justify-between">
    <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded" (click)="stepPage(-1)">Previous</button>
    <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded" (click)="stepPage(+1)">Next</button>
  </div>
}
<hr class="my-2">

@if(isLoading() || isServer) {
  <recipe-list-skeleton></recipe-list-skeleton>
} @else {
  <recipe-list [recipeList]="recipesList()"></recipe-list>
}



